form.hs-form{
            .inputs-list{
            	list-style:none!important;
                li{
                    label{
                        position:relative;
                    }
                }
            }
            .hs-form-field .input input[type="checkbox"].hs-input {
                    height:25px;
                    visibility: hidden;
                    +span {
                    	padding-left:9px;
                        &:before {
							content: "";
							position: absolute;
							top: 50%;
							left: -1px;
							display: block;
							width: 14px;
							height: 14px;
							font-family: "FontAwesome";
							background-color: #fff;
							transform: translateY(-50%);
							border-radius: 5px;
                        }
                        &:after{
                            content: "\f096";
						    position: absolute;
						    top: 50%;
						    left: -1px;
						    display: block;
						    color: #e0e0e0;
						    width: 16px;
						    height: 20px;
						    font-family: "FontAwesome";
						    transform: translateY(-50%);
                        }
                    }
                    &:checked {
                        +span {
                            &:after {
                                content: "\f14a";
                                color: hubl("$first_color");
                            }
                        }
                    }
                }

	    .hs-form-field .input input[type="radio"].hs-input {
        position: relative;
        height: 25px;
        width: 15px;
        top: -6px;
        margin-right: 8px;
        visibility: hidden;
        +span {
            &:before {
                content: "\f1db";
                font-family: FontAwesome;
                background-image: none;
                color: #e5e5e5;
                position: absolute;
                background-position: center;
                left: -1px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 19px;
                background-color: #FFF;
                height: 16px;
                width: 16px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                line-height: 0.9;
            }
            &:after {
                content: "\f111";
                font-family: FontAwesome;
                background-image: none;
                color: #e5e5e5;
                position: absolute;
                background-position: center;
                left: 4px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 7px;
            }
        }
        &:checked {
            +span {
                &:before {
                    color: hubl("$cta_background");
                }
                &:after {
                    color: hubl("$cta_background");
                }
            }
        }
    }

}
.email-edit.hs-input{
    width:100%!important;
    max-width:500px;
    border:1px solid #626262;
}