html {
  body {
    .subscription-pages {
      .page-header {
        margin-bottom: 60px;
      }
    }
    .row-fluid {
      .subscription-pages {
        // margin: 160px 0 150px;
      }
      .subscription-preferences {
        margin: 100px 0 150px;
      }
      .backup-unsubscribe {
        margin: 100px 0 150px;
      }
      .subscriptions-update {
        margin: 150px 0 150px;
      }
    }
  }
}
.subscription-preferences {
  .email-prefs .item .item-inner p {
    text-align: left;
  }
  &.widget-type-email_subscriptions h1 {
    font-size: 42px;
    color: #626262;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
  }
  &.widget-type-email_subscriptions h2 {
    font-size: 22px;
    line-height: 25px;
    color: #626262;
    font-weight: 300;
    text-transform: none;
    margin: 0;
  }
  &.widget-type-email_subscriptions p {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    color: #626262;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
  }
  &.widget-type-email_subscriptions p.header {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
  }
  .email-prefs {
    // display: none;
    .item:first-child {
      margin-top: 0;
    }
  }
  #submitbutton {
    background-color: hubl("$first_color");
    border: 2px solid hubl("$first_color");
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
    transition: all .3s linear;
-webkit-appearance: none;
    display: block;
    margin: 50px auto 0;
  }
  #submitbutton:hover {
    background-color: #ffffff;
    border: 2px solid hubl("$first_color");
    color: hubl("$first_color");
    
  }
  #submitbutton:active {
    outline: none;
    text-decoration: none;
    transition: all 0.3s linear;
  }
}

.backup-unsubscribe {
  text-align: center;
  .subscription-pages {
    .page-header {
      margin-bottom: 0;
    }
  }
  &.widget-type-email_subscriptions h3 {
    font-size: 42px;
    color: #626262;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
    color: #608f3d;
  }
  #submitbutton {
    display: block;
    background-color: hubl("$first_color");
    border: 2px solid hubl("$first_color");
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 30px;
    -webkit-appearance: none;
        transition: all .3s linear;
    margin: 50px auto 0;
  }
  #submitbutton:hover {
    background-color: #ffffff;
    border: 2px solid hubl("$first_color");
    color: hubl("$first_color");
    -webkit-appearance: none;
  }
  #submitbutton:active {
    outline: none;
    text-decoration: none;
    transition: all 0.3s linear;
  }
}

.subscriptions-update.widget-type-email_subscriptions_confirmation {
  text-align: center;
  .page-header h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: initial;
    letter-spacing: 0.04em;
    color: hubl("$first_color");
  }
  p {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 18px;
    font-weight: 200;
    font-family: Palanquin;
  }
  #content {
    font-size: 20px;
  }
}
