.dental-implants {
    .small-header-basic {
        height: 115px;
        width: 100%;
        background: #f7f7f7;
        display: flex;
        align-items: center;
        h1 {
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
            padding: 0;
            margin: 0;
            text-align: left;
            color: #626262;
        }
    }
    .single-section {
        .right-text,
        .left-pdf:after {
            display: none;
        }
        .left-pdf {
            width: 100%;
            a span h2 {
                width: 100%;
                font-weight: 200;
                font-size: 16px;
            }
        }
    }
    .dental-implants-image {
        display: flex;
        justify-content: center;
        margin: 50px auto;
    }
    .dental-implants-gallery-slide {
        margin: 50px 30px 50px 15px;
        background-position: top right;
        background-repeat: no-repeat;
        padding: 15px 30px;
        position: relative;
        p {
            font-size: 16px;
        }
        h5 {
            font-weight: 200;
            font-size: 18px;
        }
        h4 {
            font-size: 18px;
            font-weight: 400;
        }
    }
    .slick-active .dental-implants-gallery-slide:after {
        content: "";
        position: absolute;
        background: #ddeff8;
        width: 1px;
        right: -35px;
        height: 200px;
        top: 70px;
    }
}

.video-container {
    display: flex;
    justify-content: center;
    iframe {
        float: none !important;
        display: block !important;
        margin: 50px auto !important;
    }
}