.teeth-whitening {
    .small-header-basic {
        height: 115px;
        width: 100%;
        background: #f7f7f7;
        display: flex;
        align-items: center;
        h1 {
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 700;
            padding: 0;
            margin: 0;
            text-align: left;
            color: #626262;
        }
    }
    .charlotte-generald-dentistry-text {
        h3 span {
            color: #626262;
            font-weight: 300;
        }
    }
}