.dental-implants-main {
    .content-wrapper {
        margin: 30px 0 50px 0;
        .testimonial-drlinger {
            margin-top: 30px;
        }
        .text-two {
            margin-top:80px;
            img {
                margin-bottom:30px;
            }
        }
    }
}
