.dental-implant {
    .content-wrapper {
        margin: 50px 0 75px 0;
        .about {
            margin-bottom: 50px;
        }
    }
    @media (max-width: 767px) {
        .about-photo {
            display: block;
            margin: 0 auto;
        }
        .about-text {
            margin-top:40px;
        }
    }
}
