.dental-implants-yt{ 
  display: flex!important; 
    justify-content: center; 
    margin: 50px auto; 
      .video-container{ 
       
          iframe{ 
            max-width: 100%!important; 
            max-height: 100%!important; 
            float: none !important; 
            display: block !important; 
            margin: 0 auto 10px !important; 
          } 
      } 
        
} 
.porcelan-veneers{ 
  p { 
    span{ 
      color: #626262; 
      font-weight: 200; 
    } 
  } 
}