.single-section{
	width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 133px;
    align-items: center;
    margin: 15px auto;

}
.single-section .left-pdf{
	width: 30%;
	position: relative;
	// border-right: 1px solid #ddeff8;
	margin-right: 4%;

}
.single-section .left-pdf a{
	display: flex;
    flex-direction: row;
    align-items: center;
}
.single-section .left-pdf a span{
	display: flex;
    flex-direction: column;
    margin-left: 30px; 
}
.single-section .left-pdf:after{
	content: "";
	position: absolute;
	background: #ddeff8;
	width: 1px;
	right: 0;
    height: 133px;
    top: -32px;
}
.single-section .left-pdf a span h2{
	font-size: 18px;
	padding:0;
	margin: 0;
	text-align: left;
	width: 200px;
}
.single-section .left-pdf a span h3{
	font-size: 18px;
	padding:0;
	margin: 0;
	font-weight: 300;
	margin-top: 10px;
}
.single-section .right-text{
	width: 66%;
	position: relative;
}
@media screen and (max-width: 992px) {
	.single-section{
	    flex-direction: column;
	}
	.single-section .left-pdf{
		width: 100%;
	}
	.single-section .left-pdf:after{
		display: none;
	}
	.single-section .left-pdf a{
		display: flex;
	    flex-direction: row;
	    align-items: center;
	    justify-content: center;
	    margin-bottom: 30px;
	}
	.single-section .left-pdf a span{
		display: flex;
	    flex-direction: column;
	    margin-left: 30px;
	    border-right: none;
	}
	.single-section .right-text{
		width: 100%;
		margin-bottom: 30px;
	}
	#hs_cos_wrapper_module_150174755150866{
		margin:15px 0;
	}
	.single-section{
	height: auto;
	}
}