.meet-drlinger {
    .content-wrapper {
        margin: 50px 0;
    }
    .testimonial-drlinger {
        margin-bottom: 100px;
    }
    .slick-track {
        width:100% !important;
    }
    .slick-slide {
        width:100% !important;
    }
}