body.our-team{
	h2{
		font-size:26px;
	}
	h3{
		font-size:26px;
	}
	.person .span2{
		text-align:center;
		margin-top:20px;
	}
	.person{
		margin-bottom:50px;
	}
	.persons{
		margin-bottom:50px;
	}

	@media(max-width:1030px){
		.person .span2,.person .span10{
			width:100%;
			padding-right:15px;
			padding-left:15px;
			margin-left:0px;
		}

	}
	

}