body.pinhole-surgical {
    .hero-cta {
        max-width: 900px;

        h3 {
            width: 100%;
        }
    }
    .header-top h1 {
        font-size: 26px;
        margin-top: 40px;
        color: #626262;
        font-weight: 300;
        float: left;
        font-size: 26px;
        font-weight: 700;
        padding: 0;
        margin: 0;
        text-align: left;
        color: #626262;
    }
    .header-top {
        height: 115px;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
    }
    .video-container {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        .module-image-caption {
            font-size: 18px;
        }
    }
    .imageandtext {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        .layout-widget-wrapper {
            text-align: center;
        }
    }
    h2 {
        font-size: 26px;
        margin-top: 50px;
    }
    .smille-gallery-slide {
        background-size: inherit;
        background-repeat: no-repeat;
        width: 100%;
    }
    .slick-teeth {
        margin-top: 50px;
        margin-bottom: 80px;
        .slick-dots li {
            height: 15px;
            width: 15px;
            margin: 0px;
        }
        .slick-dots {
            bottom: 0px;
        }
    }
    .textmargin h2 {
        margin-top: 100px;
    }
    .video-container {
        display: block;
    }
    .video-container iframe {
        margin-bottom: 0px!important;
    }
    @media(max-width:600px) {
        .video-container {
            iframe {
                width: 300px!important;
            }
        }
    }
    @media(max-width:768px) {
        .hero-cta-image {
            height: auto;
            background-size: cover!important;
            background-position: center!important;
            background-repeat: no-repeat!important;
        }

        .hero-cta {
            height: auto;
        }

        .hero-cta h3 {
            margin-top: 50px;
        }

        .cta-wrapper {
            margin-bottom: 50px;
        }
    }
}