body.practise-areas{
	
	h2{
		font-size:26px;
		margin-bottom:50px;
		margin-top:80px;
	}
	h4.smalltitle{
		font-size:22px;
		color:#0082c8;
	}
	.practise a{
		display: inline-block;
	    background-color: hubl("$cta_background");
	    border: 2px solid hubl("$cta_background");
	    color: hubl("$cta_color");
	    font-size: 18px;
	    font-weight: normal;
	    text-transform: uppercase;
	    text-align: center;
	    text-decoration: none;
	    padding: 10px 20px;
	    border-radius: 3px;
	    cursor: pointer;
	    -webkit-appearance: none;
	    transition: all .3s linear;

	    &:hover {
	        background-color: hubl("$cta_hover_background");
	        border: 2px solid hubl("$cta_background");
	        color: hubl("$cta_hover_color");
	        -webkit-appearance: none;
	    }

	    p, span, strong {
	    	color: inherit;
	    	font-family: inherit;
	    	font-size: inherit;
	    }
	}

	.practise{
		margin-bottom:50px;
	}
	.blue-boxes .hs_cos_wrapper_widget_container{
		display:flex;
		align-items:center;
		max-width:900px;
		margin:auto;
		margin-top:-150px;
		position:relative;
		z-index:99;

	}
	.bluebox{
		text-align:center;
		width:300px;
		margin:auto;
		min-height:300px;
		border-radius:4px;
		padding-top:30px;

	}
	.bluebox img{
		margin-bottom:20px;
	}
	.bluebox ul{
		list-style: none;
	}
	.bluebox ul li{
		color:white;
		font-weight:300;
		font-size:18px;
		margin-bottom:10px!important;
		max-width:250px;
		margin:auto;
	}
	.bluebox ul li img{
		margin-bottom:5px;
		margin-right:10px;
	}
	/*.bluebox ul li:before{
		background-image:url('https://www.drlinger.com/hubfs/tick.png');
		background-repeat:no-repeat;
		height:11px;
		width:14px;
		content:"";
		display:block;
		background-position:center;
		position:relative;
		top:20px;
	}*/
	@media(max-width:900px){
		.blue-boxes .hs_cos_wrapper_widget_container{
			display:block;
			min-width:100px;
		}
		.bluebox{
			margin-bottom:20px;
		}
	}


}