body.replacing-teeth{
	.hero-banner{
		.hero-cta{
	   		max-width: 900px;
		}
	}
	.pricing-box__container{

		display:flex;
	}
	.text-left{
		max-width:320px;
		p{
			margin-top:50px;
		}
	}
	.pricing{
		padding-top:80px;
		padding-bottom:80px;
		position:relative;
	}
	.triangle1{
		position:relative;
		height:100%;
		display:block;
	}
	.triangle1:before{

		 content:"";
    	width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 400px 1300px;
		border-color: transparent transparent #0082c8 transparent;
    	position: absolute;
    	bottom:0px;
    	right:0px;

	}
	.pricing-box.highlight,.pricing-box{
		border:none;
		border-radius:4px;
		background-color:white;
		box-shadow: 2px 0px 2px #b1b1b8;
	}
	.pricing-box.highlight .pricing-box__title, .pricing-box__title{
		color:#626262;
		font-size:26px;
		border-bottom: 1px solid #e8e8e8;
		font-weight:400;
		padding-left: 35px;
    	padding-right: 35px;

	}
	.pricing-box__feature-text{

			border-bottom:1px solid #e8e8e8;	
			font-size:13.5px;
	}
	.pricing-box h4{
			font-size:13.5px;
		    padding-left: 18px;
    		padding-right: 18px;
    		font-weight:200;

	} 
	.pricing-box.highlight .pricing-box__features .pricing-box__feature-text{
		border-bottom-color:#e8e8e8;
		color:#626262;
	}
	p.pricing-box__feature-text:before{

		content:"";
		
		display:inline-block;
		background-image:url('https://www.drlinger.com/hubfs/bi.png');
		background-repeat:no-repeat;
		background-position:0px 6px;
		height:20px;
		width:20px;

	}
	.pricing-box__feature:last-child p{

		border-bottom:none;
	}

	.pricing-box img{
		margin-top:30px;
	}
	.pricing-box__feature-text{
		margin: 5px auto;
	}

	.pricing-box.highlight {

		padding-bottom:30px;
		img{
				margin-top:0px;
		}
	}
	@media screen and (max-width: 1300px){

			.triangle1:before{

				display:none;


		}
    	
	}

	@media screen and (max-width: 940px){
		.pricing-box h4{
			max-width:280px;
			margin:auto;
		}
		.pricing-box__container{
			    -webkit-flex-flow: column nowrap;
			    -ms-flex-flow: column nowrap;
			    flex-flow: column nowrap;
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -moz-box-align: center;
			    -ms-flex-align: center;
			    align-items: center;
			    padding: 75px 0 200px 0;
		}
		.pricing-box{

			    -webkit-transform: scale(1.13);
    			-moz-transform: scale(1.13);
			    -ms-transform: scale(1.13);
			    -o-transform: scale(1.13);
			    transform: scale(1.13);
			    -webkit-transition: 0.3s linear all;
			    -o-transition: 0.3s linear all;
			    -moz-transition: 0.3s linear all;
			    transition: 0.3s linear all;
			   	margin-bottom:80px;
			    border:1px solid #e8e8e8!important;
			    padding-bottom:30px;
				img{
				margin-top:0px;
				}
		}
		.text-left{
			margin:auto;
		}
		.pricing-box__container.pricing-box__4-col.container{
			padding-bottom:0px;
		}
		.pricing-box{
			-webkit-flex-basis: auto;
	    	-ms-flex-preferred-size: auto;
	    	flex-basis: auto;
	    	min-width: 245px;
		}
	}

}