.sitemap{
	.small-header-basic{
		height: 110px;
		width: 100%;
		background: #f7f7f7;
		display: flex;
		align-items: center;
			h1{
				text-transform: uppercase;
				font-size: 26px;
				font-weight: 700;
				text-align: left;
				color: #626262;
			}
	}
	.sitemap-list{
		ul{
			margin-left: 30px;
			li{
				position: relative;
			}
		}
		ul > li > ul > li > a:before,
		ul > li a:before{
		    content: "";
		    color: #0082c8;
		    position: absolute;
		    background-image: url(https://cdn2.hubspot.net/hubfs/3280013/dr_linger_CR/images/icons/more2.png);
		    width: 7px;
		    height: 11px;
		    background-position: center;
		    left: -15px;
		    -webkit-transform: translateY(75%);
		    -moz-transform: translateY(75%);
		    -ms-transform: translateY(75%);
		    -o-transform: translateY(75%);
		    transform: translateY(75%);
		}
		ul > li > ul {
			position: relative!important;
			left: 0px!important;
		}
		ul > li > a{
			padding: 2px 0;
			color:#626262;
		}
		ul > li > a:hover{
			color:#0082c8;
		}
	}
}
@media screen and (max-width: 400px) {
    .sitemap{
		.sitemap-list{
			ul > li > a{
				font-size: 15px;
			}
			ul{
				max-width:240px!important;
			}
		}
	}
}
@media screen and (max-width: 569px) {
    .sitemap{
		.sitemap-list{
			ul{
				display: inline-block;
				margin: 0 0 0 20px;
				max-width:300px;
			}
		}
	}
}