//banners
.hero-cta-image{
	width: 100%;
	height: 287px;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.hero-cta-image .mask-hero,
.hero-banner .mask-hero{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #b5b4bb;
	opacity: .75;
	z-index: 1;
}
.hero-cta{
	height: 287px;
	z-index: 99;
	position: relative;
	max-width: 1200px;
	width: auto;
	margin: 0 auto;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-flow: column;
}
.hero-cta h3{
	text-transform: uppercase;
	color: #fff;
	font-size: 40px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.cta-wrapper .cta-primary{
	font-weight: 300;
	font-size: 16px;
}
//gallery
.smille-gallery-slide{
	width: 260px;
	height: 340px;
	background-size: cover;
	background-position: center center;
}
.smille-gallery-slide{
	margin: 0 auto;
}
.slick-arrow.slick-next{
	right:-40px;
}
.slick-arrow.slick-prev{
	left:-40px;
}
.slick-next:before, 
.slick-prev:before{
	color: #3ea0d5;
}
#hs_cos_wrapper_module_1501669400501120{
	font-size: 30px;
}
.slick-dots li button:before{
	color: #168dcd;
	opacity: .5;
	font-size: 20px;
}
.slick-dots li.slick-active button:before{
	opacity:1;
	color: #168dcd;
}








