/*BLOG LISTING*/

.rich-text-blog-careers {
    margin-top: 70px; 
    h2{
        letter-spacing: 0.04em;
        span{
            letter-spacing: 3px;
        }
    }
}

.listing-blog-careers{
    margin: 80px 0; 
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width : 767px) {
        flex-wrap:nowrap;
        flex-direction: column;
    }
    .single-post-wrap{
        width: 50%;
        max-width: 570px;
        height: 395px;
        @media only screen and (max-width : 767px) {
            width: 100%;
            margin: 0 auto;
        }  
        .single-post{
            width: 100%;
            height: 395px;
            @media only screen and (max-width : 767px) {
                position: relative;
            }   
        }
        .sinle-post-description{
            background: hubl("$first_color");
            width: 281px;
            height: 337px;
            margin: 30px 0px 28px 25px;
            border-radius: 5px;
            position: relative;
            @media only screen and (max-width : 767px) {
                position: absolute;
            }
            @media only screen and (max-width : 359px) {
                margin: 15px 0px 14px 5px;
            } 
            .sinle-post-description-inner{
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                width: 80%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                h3{
                    margin: 0; 
                    a{
                    font-size: 25px;
                    color: #fff;
                    font-weight: 600;  
                    }
                }
                .content{
                    .short-desc-white{
                        color: #fff;
                        font-weight: 600;
                         margin: 5px 0px 0px 0px;   
                    }
                    .short-desc-brown{
                        color: hubl("$main_font_color");
                        font-weight: 600;
                         margin: 5px 0px 0px 0px;   
                    }

                }
                .button{
                    width: 53px;
                    height: 53px;
                    border: 2px solid hubl("$main_font_color");
                    border-radius: 50%; 
                    font-size: 30px;
                    padding: 0;
                    margin: 0;  
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   
                    &:hover{
                        border: 2px solid #fff!important;
                        i{
                            color: hubl("$main_font_color");
                        }
                    } 
                    i{
                        margin-top: -5px;
                        margin-left: 5px;
                        font-size: 35px;
                        transition: all .6s ease;
                    }
                    

                }
                
            }
        }

    }
}


/*SINGLE POST*/

.post-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0;
    @media only screen and (max-width : 480px) {
        flex-direction: column;
    }
}
.blog-section{
    .img-description { 
        margin-right: 30px;
        width: 87px;
        height:87px;
        background-color: hubl("$first_color");
        border-radius:50%;
        text-align: center;
        position: relative;
        @media only screen and (max-width : 480px) {
            margin-right: 0px;
            margin-bottom: 10px; 
        }
        img { 
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: auto !important;
        }
    }
}
.description{
    @media only screen and (max-width : 480px) {
        text-align: center;
    }
    h3 {
        padding: 0;
        margin: 0;
        letter-spacing: 0.04em;
        span{
            color: hubl("$main_font_color");
            font-size: 40px;
            line-height: 42px;
            letter-spacing: 3px;
        }
    }
    span{
        font-size: 18px;
        color: hubl("$main_font_color");
    }
}

.blog-careers .blog-section .post-body ul li{
    @media only screen and (max-width : 480px) {
        line-height: 25px;
    }
}

.careers-form{
    width: 100%;
    min-height: 739px;
    background-position: center center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    .careers-form-inner{
        width: 100%;
        min-height: 626px;
        margin:0;
        background-color: hubl_rgba("$second_color",0.9);
        border-radius: 10px;
        padding: 15px 40px;
        .careers-form-wrap{
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 20px 0px;
            h3{
                color: hubl("$cta_background");
                text-transform: uppercase;
                font-size: 33px;
                font-weight: 600;
                padding: 0;
                margin: 0px 0px 15px 0px;
            }
            p{
                color: #fff;
                font-size: 18px;
                font-weight: 200;
                margin: 0;
                line-height: 48px;
                @media only screen and (max-width : 767px) {
                    line-height: 28px;
                }
        
            }
        }
    }
}

// FLEX FOR FORM

.form-content{
    margin-top: 30px;
    h3{
         display: none;

    }
    .flex-wrap{
        display: flex;
        justify-content: space-around;
        margin-top: 0px;
        margin-bottom: 20px;
        align-items: flex-start;
        @media only screen and (max-width : 767px) {
            flex-direction: column;
            margin-top: 30px;
        }

        .flex-left{
            width: 100%;
            height: 100%;
            @media only screen and (max-width : 767px) {
                min-height: 300px;
                height: auto;
                margin-bottom: 40px;
            }
            .hs-form-field{
                margin-bottom: 30px;
            }
            input{
                background: none;
                border: none;
                border-bottom: 1px solid #fff;
                color:#fff;
                font-size: 18px;
                line-height: 24px;
                border-radius: 0;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: #fff;
                  font-weight: 300;
                  line-height: 24px;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                  color: #fff;
                  font-weight: 300;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                  color: #fff;
                  font-weight: 300;
                }
                &:-moz-placeholder { /* Firefox 18- */
                  color: #fff;
                  font-weight: 300;
                }
            }
            .hs_single_checkbox{
                padding: 0;
            }
            .hs-error-msgs {
                list-style: none;
                li{
                    label,a{
                        color: #fff;
                        font-size: 16px;
                        padding-left: 5px;
                    }
                }
            }
            

        }
        .flex-right{
            width: 100%;
            margin-left: 25px;
           height: 100%;
            @media only screen and (max-width : 767px) {
                margin-left: 0px;
                min-height: 300px;
                height: auto;
            }
            .hs_single_checkbox{
                padding: 0;
                .input{
                    ul{
                        
                        list-style: none;
                        display: block;
                        margin-left: 0px;
                        li{
                            input{
                                display: none;
                            }
                            span{
                                display: inline-block;
                                color: #fff;
                                padding-left: 15px;
                                margin-top: 20px;
                                @media only screen and (max-width : 767px) {
                                    margin-top: 30px;
                                }

                            }
                            

                        }
                    }
                }
            }
            .hs_file_upload_example{
                width: 100%;
                border-radius: 10px;
                border: dotted 1px #fff;
                position: relative; 
                margin-top:35px;
                @media only screen and (max-width : 767px) {
                margin-top: 0px;
                }
                label {

                    span{
                        display: block;
                        padding: 90px 0px;
                        text-align: center;
                        color: #fff;
                    }
                    strong{
                        display: block;
                        width: 40px;
                        height: 40px;
                        margin:5px auto;                    
                    }

                }
  
                &:before{
                    display: block;
                        content: "Cirriculum vitae";
                        color: #fff;
                        position: absolute;
                        top: -31px;
                        font-weight: 300;
                    }
                .input{
                    input[type="file"]{
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        display: block;
                        background: red;
                        top: 0;
                        left: 0;
                        margin: 0;
                        border-radius: 10px;
                        cursor: pointer; 

                    }
                }

            }
                

        }
    }

    
}



.careers-form{
    input[type="submit"]{
        @extend .cta-primary;
        width: 139px;
        height: 55px;
        float: right;
        margin: 30px 0px 0px 0px !important;

    }
    .input input[type="checkbox"].hs-input + span:before {
      
        background-color: transparent!important;
    }

    select {
        background-color: transparent;
        border: 0;
        outline: 0;
        font-size: 16px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 19px !important;
        font-family: Palanquin, sans-serif;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-top: 0px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background-image: url('//cdn2.hubspot.net/hubfs/309194/Assets_MS/angle-down.png?t=1485789315632');
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 64%;
        option{
            background-color: #ccc;
        }
    }
    textarea {
        background: transparent;
        border: none;
        outline: none;
        border-radius:0;
        font-size: 18px;
        font-weight: 300;
        border-bottom: solid 1px #fff;
        color: #fff;
        margin-top: 38px;
        font-family: Palanquin, sans-serif;
        min-height: 130px;
        color:#fff;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #fff;
          font-weight: 300;
          line-height: 24px;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #fff;
          font-weight: 300;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #fff;
          font-weight: 300;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #fff;
          font-weight: 300;
        }
    }
    label{
        span{
            color: #fff;
        }
    }
}












