.about-me_skills {
	width: 100%;
	position: relative;
	display: flex;
	.text-block {
		width: 50%;
		background-color: hubl("$first_color");
		.text-block-content {
			max-width: 550px;
			margin-top: 15px;
			margin-bottom: 40px;
			&.txt-left {
				margin-left: 10px;
				margin-right: 40px;
			}
			&.txt-right {
				margin-left: 40px;
				margin-right: 10px;
			}
			@media (max-width: 767px) {
				float: none !important;
				margin: 20px auto !important;
			}
			@media (max-width: 550px) {
				margin: 20px 15px !important;
			}
			h3 {
				font-size: 40px;
				color: #fff;
				margin: 30px 0 20px;
			}
			p {
				color: #fff;
			}
			ul.social {
				margin-top: 45px;
				margin-bottom: 15px;
				li {
					margin-right: 0;
					a {
					    text-align: center;
					    display: block;
					    line-height: 67px;
					    height: 54px;
					    width: 54px;
					    border-radius: 3px;
					    border: solid 2px hubl("$cta_color");
					    margin-right: 19px;
					    color: hubl("$cta_color");
					    background-color: hubl("$cta_background");
					    &:hover {
					    	color: hubl("$cta_hover_color");
    						background-color: hubl("$cta_hover_background");
    						cursor: pointer;
					    }
					    i {
					    	font-size: 33px;
					    	display: block;
					    	line-height: 55px;
					    	margin-top: -1px;
					    }
					}				
				}
			}
		}
	}
	.progress_bars {
		width: 50%;
		.skills-header {
			h2 {
				color: $secondaryTextColor;
				margin-bottom: 35px;
				margin-top: 0px;
				padding-top: 50px;
			}
		}
		.wrapper-bars {
			width: 100%;
			padding: 0 35px 60px;
			max-width: 550px;
			margin: 15px 0 40px;
			display: inline-block;
			@media (max-width: 767px) {
				float: none !important;
				margin: 20px auto;
				display: block;
			}
			h3 {
				color: hubl("$main_font_color");
				font-size: 40px;
				margin: 30px 0 20px;
				span {
					color: hubl("$cta_background");
					letter-spacing: 3px;
				}
			}
			h4 {
				margin-top: 15px;
				width: 100%;
				font-size: 16px;
				color: hubl("$main_font_color");
				text-align: left;
				font-weight: normal;
				margin-bottom: 12px;
			}
			.bar {
				width: 100%;
				height: 19px;
				border-radius: 5px;
				background-color: hubl("$second_color");
				border-radius: 10px;
			}
			.loading-bar {
				width: 0%;
				height: 19px;
				background-color: hubl("$first_color");
				position: relative;
				transition: all 0.6s linear;
                border-radius:10px;
                .circle {
				    background-color: hubl("$first_color");
				    position: absolute;
				    height: 19px;
				    width: 19px;
				    top: 0px;
				    right: -5px;
				    border-radius: 50%;
				    span {
    					position: absolute;
						top: -23px;
						text-align: center;
						color: hubl("$main_font_color");
						font-size: 16px;
						font-weight: 600;
				    }
                }
			}
		}
	}
	.image-container {
		width: 50%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: auto;
		@media (max-width: 767px) {
			max-width: 100%;
			height: auto;
		}
	}
	@media (max-width: 767px) {
		flex-direction: column;
		.text-block, .progress_bars {
			width: 100%;
		}
		.progress_bars {
			background-color: #fff;
		}
	}
}