.testimonial-single-new {
    padding: 25px;
    @media (min-width: 601px) {
        padding: 45px;
    }
    p {
        margin-top: 0;
        text-align: justify;
        &.author {
            font-weight: bold;
        }
        &.date {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 24px;
        }
        &.desc {
            padding: 15px 0px;
            margin: 5px 0 20px;
            position: relative;
            font-weight: 400;
            &:before {
                content: '';
                position: absolute;
                top: -15px;
                right: -45px;
                height: calc(100% + 30px);
                border-right: 1px solid transparent;
            }
            &:after {
                content: url('https://www.drlinger.com/hubfs/dr_linger_CR/images/icons/quote-mark.png');
                top: -50px;
                right: 0;
                position: absolute;
            }
        }
    }
}

.testimonial-drlinger {
    @media (min-width: 601px) {
        .slick-current {
            p {
                &.desc {
                    &:before {
                        //border-right: 1px solid hubl('$first_color');
                        opacity: .2;
                    }
                }
            }
        }
        .slick-dots {
            bottom: 0;
            li {
                margin: 0;
                button {
                    &:before {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .slick-arrow {
        &.slick-prev {
            left: -80px !important;
        }
        &.slick-next {
            right: -80px !important;
        }       
    }
    @media (max-width:1400px) {
        .slick-arrow {
            &.slick-prev {
                left: -40px !important;
            }
            &.slick-next {
                right: -40px !important;
            }       
        }
    }
    @media (max-width:1250px) {
        .slick-arrow {
            &.slick-prev {
                left: -10px !important;
            }
            &.slick-next {
                right: -10px !important;
            }       
        }
    }
    @media (max-width:1024px) {
        .slick-arrow {
            &.slick-prev {
                display:none !important;
            }
            &.slick-next {
                display:none !important;
            }       
        }
    }
}