.feed-box{
    width: 100%;
    text-align: center;
    .ico{
        text-align: center;
        border: 2px solid hubl("$first_color");
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        i{
            line-height: 120px;
            font-size: 60px;
            color: hubl("$first_color");
        }
    }
    h3{
        margin-bottom: 0px;
        margin-top: 30px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 400;
        color: hubl("$first_color");
    }
    .desc{
        font-weight: 200;
        margin: 20px 0px 30px 0px; 
    }
    .cta{
       
    }

}