.gallery { 
    width: calc(100% + 30px) !important; 
    margin-left: -15px !important; 
    .modal { 
        display:none; 
        z-index: 1000; 
        top:0; 
        left:0; 
        position:fixed; 
        width:100%; 
        height:100%; 
        overflow:auto; 
        background-color: rgba(0,0,0,.9); 
        @media (max-width: 767px) {  
            visibility: hidden; 
        } 
        .container { 
            padding: 20px 0; 
            @media (max-width: 1170px) { 
                padding-left: 15px; 
                padding-right: 15px; 
            } 
            .close { 
                margin-left:25px; 
                line-height: 60px; 
                cursor: pointer; 
                float: right; 
                color: white; 
                i { 
                    font-size: 30px; 
                } 
            } 
            .modal-img { 
                width:100%; 
                height:auto; 
            } 
        } 
    } 
    .span4 { 
        width:33.33333% !important; 
        @media (max-width: 1080px) and (min-width: 767px) { 
            width:50% !important; 
        } 
        @media (max-width: 767px) { 
            width: 100% !important; 
        } 
    } 
    margin-left:-15px; 
    margin-right: -15px; 
    figure { 
        margin:0 15px 30px 15px; 
        > div { 
            width:100%; 
            max-height: 220px; 
            @media(max-width:767px) { 
                height: auto; 
                max-height: 100%; 
            } 
            overflow:hidden; 
            img { 
                cursor:pointer; 
                width:100%; 
                height: auto; 
            } 
        }  
        figcaption { 
            padding:15px 0; 
            text-align: center; 
            font-size: 15px; 
        } 
    } 
} 
