.landing-single-event{
	width: 100%;
	height: 100%;
	.single-event-wrap{
		height: 79px;
		width: 100%;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		.time-single{
			width: 20%;
			margin:0;
			padding-left: 30px;
			font-size: 23px;
			@media only screen and (max-width : 580px) {
              font-size: 18px;
              padding-left: 15px;
              text-align: center;
    		}

		}
		.desc-single{
			width: 70%;
			padding-left: 30px;
			font-size: 21px;
			@media only screen and (max-width : 580px) {
              font-size: 16px;
              width: 80%;
    		}
		}
		.dot-single{
			width: 10%;
			display: flex;
	  		align-items: center;
			@media only screen and (max-width : 580px) {
			 -webkit-transform: rotate(90deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      		-ms-transform: rotate(90deg); /* IE 9 */
          	transform: rotate(90deg); 
    		}
			a{
				width: 39px;
				.dot-img{
					width: 39px;
					background-position: center top;
					i{
						font-size: 11px;
						color: #fff;
					}
					&:hover{
						i{
							color: hubl("$cta_background");
						}
						background-position: center bottom;
					}
				}
			}	
		}
	}		
}


