.map-qucik-contact{ 
  display: flex; 
  align-items: flex-start; 
  @media (max-width: 767px){ 
    flex-wrap: wrap; 
  } 
  .map{ 
    width: 55%; 
    padding-top: 0px; 
    @media (max-width: 767px){ 
      width: 100%; 
    } 
    #map{ 
      width: 100%;  
      height: 425px; 
    } 
  } 
  .contact{ 
    width: 45%; 
    padding-left: 40px; 
    @media (max-width: 767px){ 
      width: 100%; 
      padding-left: 0px; 
      padding-top: 30px; 
    } 
    h3{ 
      margin-top: 0px; 
      
    } 
  } 
}