.skills {
	text-align: center;

	.circle {
		display: none;
	}

	.loader {
		max-width: 200px;
    	height: auto;
	}

	h3 {
	    color: #fff;
	    font-weight: normal;
	    font-size: 25px;
	    text-align: center;
	    text-transform: uppercase;
	}
}