.small-header {
    width: 100%;
    height: 115px; // margin-top: 70px;
    background: #f7f7f7;
    border-top: solid 1px #f3f3f3;
    border-bottom: solid 1px #f3f3f3;
    .container {
        display: flex;
        align-items: center;
        height: 114px;
        .small-header-wrap {
            h2 {
                text-align: left;
                font-size: 26px;
                color: hubl("$main_font_color");
                padding: 0;
                margin: 0;
                font-weight: 300;
                text-transform: uppercase;
                span {
                    font-weight: 600;
                    color: hubl("$main_font_color");
                }
            }
            h3 {
                font-size: 23px;
                text-align: left;
                color: #626262;
                padding: 0;
                margin: 0;
                font-weight: 300;
                line-height: 30px;
            }
        }
    }
}