.small-header-for-blog {
    overflow: hidden;
    background-size: cover;
    min-height: 400px;
    margin-top: 0px;
    position: relative;
    .mask {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(162, 161, 170, 0.65);
    }
    h1 {
        max-width: 1170px;
        padding: 0 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: 200!important;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 58px;
        width: 100%;
        font-weight: normal;
        margin: 0;
        color: #fff;
        line-height: 1.2;
        span {
            color: hubl("$cta_background");
            font-weight: 600;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
}

.hs-blog-post {
    .small-header-for-blog {
        min-height: 400px;
        background-position: center center;
        background-size: cover;

        h1 {
            display: block;
            bottom: 167px;
            transform: translate(-50%, 0%);
            top: auto;
            font-size: 44px;
            @media (max-width: 767px) {
                font-size: 30px;
            }
        }
    }
}




// IE 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .small-header-for-blog, .hs-blog-post.small-header-for-blog{
      height: 400px;
    }
}
// EDGE
@supports (-ms-ime-align:auto){ 
   .small-header-for-blog, .hs-blog-post.small-header-for-blog{
      height: 400px;
    }
}












